/*blue: #669cdd*/
body{
	font-weight: 300;
}
#contact-content {
	padding: 50px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
    background: white;
}
.navbar-brand {
	font-size: 30px;
}
.navbar-toggle ,
.navbar-custom {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0px;
}
.navbar-custom {
	padding: 15px;
	height: 80px;
}
.navbar-collapse{
	float: none;
	text-align: center;
}
.page-scroll {
	color: #669cdd;
}
.nicole-logo {
	margin-left: 60px;
	width: 500px;
}
.page-section {
	margin: 50px;
}
.home-main-section {
	text-align: center;
	padding: 20px;
}
.page {
	display: none;
}
.bullet-list-centre {
  margin-left: 40%;
  margin-bottom: 20px;
  text-align: left;
}
.icon {
	font-size: 100px;
	margin: 20px;
	color: #83aee2;
	display:inline-block;
}
.about-container {
	width: 60%;
	margin-left: 20%;
}
h1,
h2,
h3,
h4 {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
	color: #669cdd;
}
hr {
	border-top: 5px solid #669cdd;
	width: 20%;
}
@media (min-width: 768px){
	.navbar-nav {
		/*float: none;*/
	    margin: 0;
	}
}
@media (max-width: 1160px){
	.about-container {
		width: 80%;
		margin-left: 10%;
	}
}
@media (max-width: 920px){
	.about-container {
		width: 90%;
		margin-left: 5%;
	}
}
@media (max-width: 650px){
	.home-main-section {
		margin-top: -50px;
	}
	.nicole-logo  {
		width: 400px;
	}
	header {
		height: 500px;
	}
	.icon {
		font-size: 60px;
	}
}
@media (max-width: 477px){
	.nicole-logo  {
		margin-left: 25px;
		width: 250px;
	}
	.icon {
		font-size: 40px;
		margin: 5px;
	}
	.page-section {
		margin: 30px;
	}
}
@media (max-width: 327px){
	.nicole-logo  {
		margin-left: -20px;
	}
	.about-container {
		width: 100%;
	}
	.page-section {
		margin: 20px;
	}
}